// color


// --- color ---
// 明度 ->
// $var: lighten($color, n%);
// $var: darken($color, n%);
// 彩度 ->
// $var: saturate($color, n%);
// $var: desaturate($color, n%);
// 透明度 ->
// $var: transparentize($color, n);
// $var: rgba($color, n);


// --- text ---
$color-text-main: #00a6c1;


// --- logo ---
$color-logo: #00a6c1;
$color-logo-hover: #7FF0FF;


// --- link ---
$color-link: #00CAE5;
$color-hover: #7FF0FF;

$color-block-link: #00CAE5;
$color-block-hover: #7FF0FF;


// --- background ---
$color-background-main: #fff;
$color-background-body: #e4fafe;


// --- line ---
$color-line: #00CAE5;


// --- sns ---
$color-twitter: #55ACEE;
$color-facebook: #3B5998;
$color-instagram: #231F20;
$color-googleplus: #dd4b39;
$color-hatena: #008FDE;


// --- accent ---
$color-accent: #00a6c1;
$color-accent-2: #E2264D;
$color-accent-3: #ffff00;
