// color





// --- color --- 
// 明度 ->
// $var: lighten($color, n%);
// $var: darken($color, n%);
// 彩度 ->
// $var: saturate($color, n%);
// $var: desaturate($color, n%);
// 透明度 ->
// $var: transparentize($color, n);
// $var: rgba($color, n);


// --- text ---
$text-main-color: #00a6c1;


// --- logo ---
$logo-color: #00a6c1;
$logo-hover-color: #7FF0FF;


// --- link ---
$link-color: #00CAE5;
$hover-color: #7FF0FF;

$block-link-color: #00CAE5;
$block-hover-color: #7FF0FF;


// --- background ---
$background-main-color: #fff;
$background-body-color: #e4fafe;


// --- line ---
$line-color: #00CAE5;


// --- sns ---
$twitter-color: #55ACEE;
$facebook-color: #3B5998;
$instagram-color: #231F20;
$googleplus-color: #dd4b39;


// --- accent ---
$accent-color: #00a6c1;
$accent-color-2: #E2264D;





































