// font set






// --- font ---
$font-family: "Noto Sans", "Hiragino Sans", "ヒラギノ角ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$font-family-g: "Georgia", serif;


// --- google fonts ---
$font-family-q-sans: "Quattrocento Sans", sans-serif;
$font-family-q: "Quattrocento", serif;
$font-family-c: "Cinzel", serif;
$font-family-gd: "Gilda Display", serif;
$font-family-bsc: "Bilbo Swash Caps", cursive;
$font-family-noto-sans: "Noto Sans", sans-serif;
$font-family-noto: "Noto Serif", serif;
$font-family-cardo: "Cardo", serif;
$font-family-lato: "Lato", sans-serif;


// --- code fonts ---
$font-family-code: "Source Code Pro", monospace;
































