// setting




// --- font size ---
$font-size: 12px;




// --- line height ---
$line-height: 1.7;



// --- width ---
$max-width: 1920px;
$large-width: 1440px;
$mid-width: 1280px;
$small-width: 800px;
$min-width: 400px;



// --- margin ---
$base-margin: 64px;
$main-margin: 80px;




// --- animation ---
$base-transition: all .5s ease;
$fast-transition: all .2s ease;




























