// margin


.u-margin__t {
  margin-top: 0 !important;
  &--10 {
    margin-top: 10px !important;
  }
  &--20 {
    margin-top: 20px !important;
  }
}


.u-margin__r {
  margin-right: 0 !important;
  &--10 {
    margin-right: 10px !important;
  }
  &--20 {
    margin-right: 20px !important;
  }
}


.u-margin__b {
  margin-bottom: 0 !important;
  &--10 {
    margin-bottom: 10px !important;
  }
  &--20 {
    margin-bottom: 20px !important;
  }
  &--80 {
    margin-bottom: 80px !important;
  }
  &--120 {
    margin-bottom: 120px !important;
  }
}


.u-margin__l {
  margin-left: 0 !important;
  &--10 {
    margin-left: 10px !important;
  }
  &--20 {
    margin-left: 20px !important;
  }
}
