// margin





.u-margin__t {
  &--10 {
    margin-top: 10px !important;
  }
  &--20 {
    margin-top: 20px !important;
  }
}


.u-margin__r {
  &--10 {
    margin-right: 10px !important;
  }
  &--20 {
    margin-right: 20px !important;
  }
}


.u-margin__b {
  &--10 {
    margin-bottom: 10px !important;
  }
  &--20 {
    margin-bottom: 20px !important;
  }
}



.u-margin__l {
  &--10 {
    margin-left: 10px !important;
  }
  &--20 {
    margin-left: 20px !important;
  }
}














