// aff



.p-aff {
  width: 100%;
  background: $color-background-body;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: $margin-base;
  }
  &__item {
    width: 120px;
    height: 90px;
    margin: 0 10px;
    background: $color-background-main;
  }
}



























