// aff


.p-aff {
  width: 100%;
  background: $color-background-body;
  &__inner,
  .textwidget {//wpのwidgetで出力されるclass
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1220px;
    height: 100%;
    margin: 0 auto;
    padding: 0 80px 40px;
  }
  &__item {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}




// media query
@media #{$mq1000} {
.p-aff {
  &__inner,
  .textwidget {//wpのwidgetで出力されるclass
    flex-wrap: wrap;
    max-width: 520px;
    padding: 0 0 40px;
  }
  &__item {
    width: calc(50% - 10px);
    &:nth-child(2n+1) {
      margin-left: 0;
    }
    &:nth-child(n+3) {
      margin-top: 20px;
    }
  }
}
}

@media #{$mq768} {
.p-aff {
  &__inner,
  .textwidget {//wpのwidgetで出力されるclass
    padding: 0 30px 40px;
  }
  &__item {
    width: calc(50% - 5px);
    margin-left: 10px;
    &:nth-child(2n+1) {
      margin-left: 0;
    }
    &:nth-child(n+3) {
      margin-top: 0;
    }
  }
}
}
