// article





.p-article {
  &__hold {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: $width-article;
    margin: 0 auto;
    padding: 0 276px;
  }
  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 246px;
  }
  &__body {
    width: 100%;
    margin: 0 auto;
    a {
      position: relative;
      display: block;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-accent,.6);
        transition: $transition-base;
        visibility: hidden;
        opacity: 0;
      }
      &:hover:before {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__ttl {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      background: $color-accent;
      transition: all .5s $easeInOutExpo;
      transform: translateY(-50%);
    }
    &:before {
      left: -18px;
      width: 3px;
      height: 11px;
      border-radius: 1px;
    }
    &:after {
      left: -22px;
      width: 11px;
      height: 3px;
      border-radius: 1px;
    }
    &:hover:before {
      transform: translateY(-150%);
      opacity: 0;
    }
    &:hover:after {
      transform: translateX(-100%);
      opacity: 0;
    }
    a {
      display: block;
      transition: $transition-base;
    }
  }
  &__meta {
    margin-top: 10px;
  }
  &__date {
    font-family: $font-family-lato;
    font-size: 10px;
    letter-spacing: 1px;
    span {
      margin-right: 8px;
      font-weight: 700;
      color: $color-accent-2;
    }
  }
  &__taxonomy {
    margin: 20px 0;
    li {
      position: relative;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: -20px;
        width: 5px;
        height: 1px;
        background: $color-line;
      }
      a {
        display: block;
        font-size: 11px;
        transition: $transition-base;
      }
    }
  }
  &__url {
    font-size: 10px;
    a {
      transition: $transition-base;
    }
  }
  &__share {
    display: flex;
    margin-top: 20px;
    &-item {
      margin-right: 10px;
    }
    .c-icon {
      height: 13px;
      transform: translateY(0px);
      &.tw {
        fill: $color-twitter;
      }
      &.fb {
        fill: $color-facebook;
      }
    }
    a {
      transition: opacity .5s ease;
    }
    a:hover .c-icon {
      opacity: .6;
    }
  }
}




// media query
@media #{$mq1280} {
.p-article {
  &__hold {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 0;
  }
  &__header {
    order: 1;
    position: static !important;
    width: calc(100% - 20px);
    margin: 40px 0 0 20px;
  }
}
}

@media #{$mq400} {
.p-article {
  &__header {
    margin: 20px 0 0 20px;
  }
}
}










































