// breadcrumbs


.p-breadcrumbs {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
  &__inner {
    display: flex;
    p {
      position: relative;
      margin-right: 40px;
      font-size: 11px;
      text-transform: uppercase;
      &:not(:first-child):before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: -30px;
        width: 20px;
        height: 1px;
        background: $color-accent;
      }
      a {
        transition: $transition-base;
      }
    }
  }
}
