// fixed


.p-fixed {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 2;
  a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    transition: $transition-base;
  }
}


// media query
@media #{$mq768} {
.p-fixed {
  left: 20px;
  a {
    padding: 0;
  }
}
}
