// form





.p-form {
  &__box {
    margin-top: 40px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__ttl {
    margin-bottom: 8px;
    font-size: 11px;
  }
  &__input {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      font-size: 14px;
    }
  }
  &__textarea {
    textarea {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      padding: 10px;
      font-size: 14px;
    }
  }
  &__checkbox {
    margin-top: 40px;
    vertical-align: middle;
    font-size: 11px;
    color: $color-link;
    input,
    label {
      cursor: pointer;
    }
  }
  &__submit {
    margin-top: 50px;
    input {
      box-sizing: border-box;
      width: 160px;
      height: 40px;
      margin: 0 auto;
      color: $color-link;
      border: 1px solid $color-line;
      background: none;
      transition: $transition-base;
      &:hover {
        color: #fff;
        background: $color-accent;
      }
    }
  }
}




































