// modal





.p-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9);
  overflow: auto;
  transition: all .5s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 11;
  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
  &__inner {
    box-sizing: border-box;
    width: 100%;
    max-width: $width-large;
    margin: 0 auto 40px;
    padding: 0 40px;
    color: #fff;
  }
  &__ttl {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
  }
  &__lists {
    display: flex;
    flex-wrap: wrap;
  }
  &__list {
    margin: 0 16px 16px 0;
    a {
      position: relative;
      display: block;
      font-size: 13px;
      color: #fff;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 1px;
        background: $color-line;
        transition: width .5s ease;
        z-index: 2;
      }
      &:hover:after {
        right: auto;
        left: 0;
        width: 100%;
      }
      span {
        margin-left: 5px;
      }
    }
  }
  &__btn {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 80px;
    height: 80px;
  }
}




// media query
@media #{$mq1920} {
.p-modal {
  &__btn {
    top: 40px;
    left: 40px;
    width: 40px;
    height: 40px;
  }
}
}

@media #{$mq1440} {
.p-modal {
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 160px 0 0;
}
}

@media #{$mq768} {
.p-modal {
  padding: 80px 0 0;
  &__btn {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
  }
}
}

@media #{$mq400} {
.p-modal {
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 80px 0 0;
  &__inner {
    padding: 0 20px;
  }
  &__lists {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  &__list {
    margin: 0 0 16px 0;
    a {
      display: inline;
      &:after {
        display: none;
      }
    }
  }
  &__btn {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
  }
}
}

// max height
@media #{$meq568maxHeight} {
.p-modal {
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 80px 0 0;
  &__inner {
    padding: 0 20px;
  }
  &__lists {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  &__list {
    margin: 0 0 16px 0;
    a {
      display: inline;
      &:after {
        display: none;
      }
    }
  }
  &__btn {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
  }
}
}













































