// post


$post-width: calc(20.3125% - 30px);// 18.75%+(30px/1920px)


.p-post {
  display: flex;
  flex-wrap: wrap;
  &__item {
//    display: flex; 最下部のflexitemを揃える場合
    width: $post-width;
    margin: 0 0 $main-margin 30px;
    &:nth-of-type(n+1):not(:nth-of-type(n+21)) {
      order: 1;
    }
    &:nth-of-type(n+21):not(:nth-of-type(n+41)) {
      order: 3;
    }
    &:nth-of-type(n+41):not(:nth-of-type(n+61)) {
      order: 5;
    }
    &:nth-of-type(n+61) {
      order: 7;
    }
    &:nth-of-type(5n+1) {
      margin-left: 0;
    }
    &--no1,
    &--no2,
    &--no3 {
      width: 100%;
      max-width: 100%;
      margin-bottom: $main-margin;
    }
    &--no1 {
      order: 2;
    }
    &--no2 {
      order: 4;
    }
    &--no3 {
      order: 6;
    }
  }
  &__inner {
//    flex: 1 1 100%; 最下部のflexitemを揃える場合
    display: flex;
    flex-direction: column;
    position: relative;
//    &:after {
//      content: "";
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: calc(100% - 8px);
//      padding-top: 75%;
//    }
  }
  &__ttl {
    order: 2;
    width: 100%;
    margin-top: 16px;
//    margin: 16px 0; 最下部のflexitemを揃える場合
    font-size: 13px;
    a {
      color: $text-main-color;
      transition: $base-transition;
      &:hover {
        color: $hover-color;
      }
    }
  }
  &__thumb {
    position: relative;
    order: 1;
    width: 100%;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      padding-top: 75%;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($accent-color,.6);
        transition: $base-transition;
        visibility: hidden;
        opacity: 0;
      }
      &:hover:before {
        visibility: visible;
        opacity: 1;
      }
    }
//    &::-webkit-scrollbar {
//      width: 8px;
//    }
//    &::-webkit-scrollbar-track {
//      background: $background-main-color;
//    }
//    &::-webkit-scrollbar-thumb {
//      background: $line-color;
//    }
  }
  &__meta {
    order: 3;
    margin-top: 16px;
//    margin-top: auto; 最下部のflexitemを揃える場合
    &-inner {
      display: flex;
      justify-content: space-between;
    }
  }
  &__date {
    font-family: $font-family-lato;
    font-size: 10px;
    letter-spacing: 1px;
    span {
      margin-right: 5px;
      font-weight: 700;
      color: $accent-color-2;
    }
  }
  &__like {
    font-size: 10px;
    color: #ccc;
    cursor: pointer;
    .c-icon.heart {
      height: 11px;
      fill: #ccc;
      transform: translateY(-1px);
    }
    &:hover .c-icon.heart {
      fill: $accent-color-2;
    }
  }
  &__taxonomy {
    order: 4;
    margin-top: 3px;
    padding-top: 3px;
    font-size: 11px;
    border-top: 1px solid lighten($line-color, 40%);
    a {
      transition: $base-transition;
    }
    span {
      position: relative;
      margin-right: 20px;
      &:not(:last-child):after {
        content: "/";
        position: absolute;
        top: 0;
        right: -12px;
        font-family: $font-family-lato;
        color: $text-main-color;
      }
    }
  }
}




















































