// main

$maxWidth: 1440px;


.main {
  box-sizing: border-box;
  width: 100%;
  padding: 0 50px;
  &__inner {
    width: 100%;
    max-width: $maxWidth;
    height: 100%;
    margin: 0 auto;
  }
}
















































