// ie





.ie {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($background-body-color, .9);
  z-index: 13;
  &__hold {
    width: 100%;
    max-width: 640px;
    margin: 120px auto 0;
    text-align: center;
    h3 {
      font-family: $font-family-lato;
      font-weight: 300;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      span {
        font-weight: 700;
      }
    }
    h4 {
      margin: 5px 0 40px;
      font-size: 10px;
    }
    p {
      margin-bottom: 20px;
      a {
        border-bottom: 1px solid $line-color;
        transition: $base-transition;
      }
    }
  }
  &__btn {
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin: 64px auto 0;
    font-size: 11px;
    text-align: center;
    border: 1px solid $line-color;
    transition: $base-transition;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: $accent-color;
    }
  }
}

















