// button


// standerd btn
.c-btn--std {
  margin-left: auto;
  margin-right: auto;
  a {
    box-sizing: border-box;
    display: block;
    width: inherit;
    height: inherit;
    padding-left: 5px;
    font-size: 10px;
    letter-spacing: 5px;
    border: 1px solid $color-line;
    transition: $transition-base;
    &:hover {
      color: #fff;
      background: $color-accent;
    }
  }
}




// menu btn
.c-btn--menu {
  position: relative;
  &:before {
    content: "MENU";
    position: absolute;
    top: 0;
    left: 27px;
    display: block;
    width: 50px;
    height: 18px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    font-family: $font-family-q-sans;
    letter-spacing: 1px;
  }
  &-t,
  &-m,
  &-b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-link;
    transition: $transition-base;
  }
  &-m {
    bottom: 0;
    margin: auto;
  }
  &-b {
    top: auto;
    bottom: 0;
  }
  &:hover &-t,
  &:hover &-m,
  &:hover &-b {
    background: $color-hover;
  }
  &:hover &-m {
    width: 75%;
  }
  &:hover &-b {
    width: 50%;
  }
}




// modal close
.c-btn--close {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    background: #fff;
    transition: transform .3s ease;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover:before {
    transform: rotate(135deg);
  }
  &:hover:after {
    transform: rotate(45deg);
  }
}
