// button






// menu btn
.c-btn--menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &-t,
  &-m,
  &-b {
    width: 100%;
    height: 2px;
    background: $link-color;
    transition: $base-transition;
  }
  &:hover &-t,
  &:hover &-m,
  &:hover &-b {
    background: $hover-color;
  }
  &:hover &-m {
    width: 75%;
  }
  &:hover &-b {
    width: 50%;
  }
}







// modal close
.c-btn--close {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    background: #fff;
    transition: transform .3s ease;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover:before {
    transform: rotate(135deg);
  }
  &:hover:after {
    transform: rotate(45deg);
  }
}


































