// icon

.c-icon {
  max-width: 20px;
  height: 16px;
  fill: $link-color;
  vertical-align: middle;
  transition: $base-transition;
  transform: translateY(-2px);
  a:hover & {
    fill: $hover-color;
  }
}







































