// icon








.c-icon {
  max-width: 20px;
  height: 16px;
  fill: $color-link;
  vertical-align: middle;
  transition: $base-transition;
  transform: translateY(-2px);
  a:hover & {
    fill: $color-hover;
  }
}







































