// pager


.c-pager {
  margin-bottom: $base-margin;
  &__inner {
    text-align: center;
    a {
      transition: $base-transition;
    }
  }
  &__num {
    margin: 0 10px;
  }
}


























