// to top



.to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  transition: $base-transition;
  visibility: hidden;
  opacity: 0;
  a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: $accent-color;
    transition: $base-transition;
    .c-icon.arrowUp {
      fill: #fff;
      height: 8px;
    }
    &:hover {
      background: $block-hover-color;
    }
  }
}

.is-active .to-top {
  visibility: visible;
  opacity: 1;
}




















